aiohttp==3.8.5
aiosignal==1.3.1
asttokens==2.4.1
async-timeout==4.0.2
attrs==23.1.0
backcall==0.2.0
beautifulsoup4==4.12.3
bleach==6.1.0
certifi==2021.10.8
charset-normalizer==2.0.10
colorama==0.4.6
cycler==0.12.1
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.4
docopt==0.6.2
executing==2.0.1
fastjsonschema==2.19.1
filelock==3.4.2
fonttools==4.47.2
frozenlist==1.4.0
idna==3.3
importlib-metadata==7.0.1
ipython==8.12.3
iso8601==2.0.0
jedi==0.19.1
Jinja2==3.1.3
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyterlab_pygments==0.3.0
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.5.3
matplotlib-inline==0.1.6
mistune==3.0.2
multidict==6.0.4
nbclient==0.9.0
nbconvert==7.16.1
nbformat==5.9.2
numpy==1.26.3
packaging==23.2
pandas==2.1.4
pandocfilters==1.5.1
parso==0.8.3
pickleshare==0.7.5
pillow==10.2.0
pipenv==2022.1.8
pipreqs==0.5.0
platformdirs==2.5.0
prompt-toolkit==3.0.43
pure-eval==0.2.2
pygame==2.5.2
pygame-widgets==1.0.0
Pygments==2.17.2
pyparsing==3.1.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PyQtChart==5.15.6
PyQtChart-Qt5==5.15.2
python-dateutil==2.8.2
pytz==2023.3.post1
pywin32==306
pyzmq==25.1.2
referencing==0.33.0
requests==2.27.1
rpds-py==0.18.0
six==1.16.0
soupsieve==2.5
stack-data==0.6.3
tinycss2==1.2.1
tornado==6.4
traitlets==5.14.1
twitchio==2.6.0
typing_extensions==4.7.1
tzdata==2023.4
urllib3==1.26.8
virtualenv==20.13.1
virtualenv-clone==0.5.7
wcwidth==0.2.13
webencodings==0.5.1
yarg==0.1.9
yarl==1.9.2
zipp==3.17.0
